<div id="todoroot" *ngIf="user != null">
  <mat-accordion>
    <ng-container *ngFor="let item of toDoTasksService.toDoItems">
      <mat-expansion-panel hideToggle *ngIf="!item.archived">
        <mat-expansion-panel-header>
          <mat-panel-title>{{item.task}}</mat-panel-title>
          <mat-icon (click)="toDoTasksService.setArchivedToDoItem(item.id, true)" class="archive">done</mat-icon>
        </mat-expansion-panel-header>
        <div [innerHTML]="item.details | linkify"></div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
<button mat-fab id="composeFab" (click)="composeTask()">
  <mat-icon>add</mat-icon>
</button>
