#todoroot {
  width: 50%;
  max-width: 50%;
  padding: 64px;
}

mat-panel-title {
  font-size: 18px;
}

mat-nav-list a mat-icon {
  margin: 16px;
}

#composeFab {
  position: absolute;
  bottom: 32px;
  right: 32px;
}
