#approot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img.logo {
  margin: 16px;
  filter: drop-shadow(0 0 4px #333);
}

mat-sidenav-container {
  margin: 0;
  flex: 1;
  display: flex;

  mat-sidenav {
    padding: 16px;
    width: 33%;

    .sidenav-root {
      display: flex;

      .sidenav-filler {
        flex: 1;
      }
    }

    mat-icon {
      margin: 16px;
    }
  }

  mat-sidenav-content {
    flex: 1;
  }
}

#toolbar-fill {
  flex: 1;
}
