<div id="approot">
  <mat-toolbar color="primary">
    <img class="logo" src="assets/brain.svg" width="48">
    <h1>Brain Dump</h1>
    <span id="toolbar-fill"></span>
    <span *ngIf="authStateChecked">
      <a mat-button *ngIf="!user && router.url != '/login'" routerLink="login">Sign in</a>
      <button mat-button *ngIf="user" [matMenuTriggerFor]="appMenu">{{user.displayName}}</button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Profile Settings</button>
        <button mat-menu-item (click)="signOut()">Log out</button>
      </mat-menu>
    </span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened disableClose>
      <div class="sidenav-root">
        <div class="sidenav-filler"></div>
        <mat-nav-list>
          <a mat-list-item href="todo">
            <mat-icon>assignment</mat-icon><span>Todo</span>
          </a>
          <a mat-list-item href="calendar">
            <mat-icon>event</mat-icon><span>Calendar</span>
          </a>
          <a mat-list-item href="notes">
            <mat-icon>description</mat-icon><span>Notes</span>
          </a>
          <a mat-list-item href="settings">
            <mat-icon>settings</mat-icon><span>Settings</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
