<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content id="form-fields">
  <mat-form-field appearance="fill">
    <mat-label>Task</mat-label>
    <input matNativeControl type="text" [(ngModel)]="task" (keyup.enter)="submitTask()">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matNativeControl [matDatepicker]="datepick">
    <mat-datepicker-toggle matSuffix [for]="datepick"></mat-datepicker-toggle>
    <mat-datepicker #datepick></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>Time</mat-label>
      <input matNativeControl type="time">
    </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Details</mat-label>
    <textarea matNativeControl type="text" [(ngModel)]="details" (keyup.enter)="submitTask()"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [disabled]="!task" (click)="submitTask()">Add</button>
</div>
