@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
